@media only screen and (max-width: 600px) {
    body {
        font-size: 11px;
        line-height: 1.1;
    }
    .cell {
        max-width: 100px;
        height: 100px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 14px;
        line-height: 1.2;

    }
    .cell {
        max-width: 130px;
        height: 130px;
    }
}

@media only screen and (min-width: 1025px) {
    body {
        font-size: 18px;
        line-height: 1.3;
    }
    .cell {
        max-width: 160px;
        height: 160px;
    }
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #ff5f00;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    color: white;
    font: 3em arial;
    font-weight: bolder;
    margin-bottom: 25px;
    margin-top: 15px;
}

#win {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbf8ed;
    position: fixed;
    width: 100%;
    height: 100%;
}

#win h1#bigText {
    text-align: center;
    display: block;
    color: #ff4800;
    font: 6em arial;
    font-weight: bolder;
    margin-bottom: 35px;
}

#win p#winText {
    display: block;
    color: rgb(65, 0, 0);
    font: 2.8em arial;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

#win p#gift {
    color: rgb(65, 0, 0);
    font: 1.24em arial;
    font-weight: bold;
}

#question {
    color: rgb(65, 0, 0);
    font: 1.2em arial;
    font-weight: bold;
}

.cell {
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    font-size: 1em arial;
    font-weight: bold;
    margin: 5px;
}

#debug {
    color: white;
    font: arial;
    margin: 35px auto;
}

.unselected {
    background: #dbf8ed;
    color: #ff5f00;
}

.selected {
    background-color: #ffee00;
    color: #ff5f00;
}

#reset {
    margin-top: 12px;
}

.uuesti {
    background-color: #ffee00;
    padding: 12px;
    font-weight: bold;
    color: #ff5f00;
    border-radius: 6px;
    border-width: 0px;
}